<p>
  &copy; 2018 Twitter
  </br>
  <span class="f_link">
    <%= link_to("Twitterについて", 'https://about.twitter.com/ja.html') %>
    &ensp; 
    <%= link_to("ヘルプセンター", 'https://help.twitter.com/ja') %>
    &ensp; 
    <%= link_to("規約", 'https://twitter.com/ja/tos') %>
    &ensp; 
    <%= link_to("プライバシーポリシー", 'https://twitter.com/ja/privacy') %>
    &ensp; 
    <%= link_to("クッキー", 'https://help.twitter.com/ja/rules-and-policies/twitter-cookies') %>
    &ensp; 
    <%= link_to("広告について", 'https://business.twitter.com/ja/help/troubleshooting/how-twitter-ads-work.html') %>
  </span>
</p>
