<%= t.text_area :tweet, label: false, :size => "70", :maxlength => "140", placeholder: 'いまどうしてる？', required: 'required' %>
<label class="name">
  <%= t.input :name, label: false, :maxlength => "10", placeholder: 'ユーザー名', required: 'required' %>
</label>
<label class="file-btn">
  <i class="far fa-image"></i>
  <%= t.input :image, label: false, as: :file %>
</label>

<input id="submit_button" type="submit" name="submit" value="ツイート" />