<header>
  <title>Twitter</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <div id="home">
    <a href="/"><i class="fas fa-home"></i> ホーム</a>
  </div>
  
  <input type="button" onclick="location.href='/'" />

  <%= form_tag '/twitters/search', method: :post do %>
    <label id="keyword-btn">
      <%= text_field_tag :keyword, '', placeholder: 'キーワード検索' %>
    </label>
    <button type="submit"></button>
  <% end %>
  
  
    <div id="square_btn"><label for="popup-on">ツイート</label></div>
  
  <input type="checkbox" id="popup-on"/>
  <div class="popup">
    <div class="t">ツイートする</div>
    <a class="close" href="#">&times;</a>
    <p>
      <%= simple_form_for @twitter, :url => {action: :create} do |t| %>
        <%= render "form", t: t %>
      <% end %>
    </p>
  </div>
</header>  

<div id="about_img"></div>
<div id="header2">
  <div id="status">
    ツイート
    </br>
    <span id="count"><%= @count %></span>
    </br>
    <div id="status-bar"></div>
  </div>
</div>

<label for="imgpop-on">
  <div class="circle">
    <%= image_tag 'kinki.jpg', :class => "img-round" %>
  </div>
</label>

<input type="checkbox" id="imgpop-on"/>
<div class="imgpop">
  <label for="imgpop-on" class="icon-close">×</label>
  <div class="imgpop-content">
    <%= image_tag 'kinki.jpg', :class => "imgpop-round" %>
  </div>
</div>

