<div class = "posts-index-item" >
  <span class="user">
    <b><%= link_to(t.name, twitter_path(t)) %></b>
    &ensp; 
  </span>
  <span class="tuser">
    @<%= Romaji.kana2romaji "#{t.name}" %>
  </span>
  &ensp;
  <span class="post-time">
    <% time = t.created_at.strftime("%Y年%m月%d日")  %>
    <%= link_to(time, twitter_path(t)) %>
  </span>
  </br>
  <span class="tweet">
    <%= link_to(t.tweet, twitter_path(t)) %>
  </span>
  </br>
  <% if t.image.present? %>
    <%= link_to twitter_path(t) do %>
      <%= image_tag t.image.url, :size => '300x300' %>
    <% end %>
    </br>
  <% end %>
</div>