<span id="title">
  <%= link_to("近畿大学", root_path) %>
</span>
</br>
<span class="tuser">
  @<%= link_to("kinkidaigakuPR", root_path) %>
</span>
</br></br>
近畿大学総務部広報室のTwitter公式アカウントです。
近畿大学ホームページの更新情報を中心に、大学に関する情報を発信していきます。
個別DMでのお問い合わせには返信を行っておりませんので、ご了承ください。
</br></br>

<span class="iro">
  <i class="fas fa-map-marker-alt"></i>&ensp;大阪府東大阪市
  </br>
  <i class="fas fa-link"></i>
  <span class="link"><%= link_to("instagram.com/kinkidaigakupr/", "https://www.instagram.com/kinkidaigakupr/") %></span>
  </br>
  <i class="far fa-calendar-alt"></i>&ensp;2010年12月に登録
</span>

<label for="popup-on">
  <div id="s_btn">ツイート</div>
</label>
<input type="checkbox" id="popup-on"/>
<div class="popup">
  <div class="t">ツイートする</div>
  <a class="close" href="#">&times;</a>
  <p>
    <%= simple_form_for @twitter, :url => {action: :create} do |t| %>
      <%= render "form", t: t %>
    <% end %>
  </p>
</div>