<div class = "c">
  <span class = "font_c"><%= link_to("ツイート", root_path) %></span>
  &emsp;
  メディア
</div>
    
<% @twitters.each do |t| %>
  <% if t.image.present? %>
    <%= render "show", t: t %>
  <% end %>
<% end %>
