<div class = "c">
  <span class = "font_c"><%= link_to("ツイート", root_path) %></span>
  &emsp;
  <span class = "font_c"><%= link_to("メディア", media_path) %></span>
</div>

<div class = "posts-edit-item" >
  
  <label for="popup-on2">
    <div class="edit">&or;</div>
  </label>
  <input type="checkbox" id="popup-on2"/>
  <div class="popup">
    <div class="t">ツイートを編集する</div>
    <a class="close" href="#">&times;</a>
    <p>
      <%= simple_form_for @twitter_u, :url => {action: :update} do |t| %>
        <%= render "form", t: t %>
        &ensp;
        <%= link_to twitter_path(@twitter_u), :method => :delete do %>
          <div class="delete-btn"><i class="fas fa-trash-alt"></i></div>
        <% end %>
      <% end %>
    </p>
  </div>
  
  
  <div class="show">
    <b><%= @twitter_u.name %></b> 
    </br> 
    <span class="tuser">
        @<%= Romaji.kana2romaji "#{@twitter_u.name}" %>
    </span>
    &ensp;
    </br>
    <p><%= @twitter_u.tweet %></p>
    <% if @twitter_u.image.present? %>
      <%= image_tag @twitter_u.image.url, :size => '320x320' %>
    <% end %>
    </br></br>
    <span class="post-time">
      <%= @twitter_u.created_at.strftime("%H:%M") %> - <%= @twitter_u.created_at.strftime("%Y年%m月%d日")  %>
    </span>
    </br>
  </div>
</div>