/* 全体設定 */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  width: 100%;
  background-color: #E0ECF8;
  margin: 0;
  min-height: 1vh;
  min-width: 1vh;
}

header {
  position: fixed; /*ブラウザ幅がコンテンツ幅を下回った際に横スクロールしない*/
  height: 46px;
  min-width: 100%;
  background-color: white;
  box-shadow: 0 0 6px #c1ced7;
  z-index: 30;
}

#home {
  position: absolute;
  left: 7%;
  top: 3px;
  width: 200px;
  height: 33px;
  font-weight: 600;
  margin: 10px 0 0 0;
  overflow: hidden;
}

#home:hover{
  color: #58ACFA;
  cursor: pointer;
}

#home a{
  color: #777777;
  font-size: 13px;
  text-decoration: none;
  padding: 0 0 0px 7px;
}

#home a::after {
  position: absolute;
  right: 60%;
  bottom: -20px;
  content: '';
  width: 200px;
  height: 3px;
  background: #58ACFA;
  opacity: 0; /* 不透明度 */
  visibility: hidden; /* 要素のボックスが不可視になる */
  transition: .1s;
}

#home a:hover{
  color: #58ACFA;
}
#home a:hover::after {
  bottom: -1px;
  opacity: 1;
  visibility: visible;
}

/* ツイート数表示 ================================ */

#header2 {
  height: 60px;
  width: 100%;
  min-width: 1024px;
  background-color: white;
  box-shadow: 0 0 6px #c1ced7;
}

#status {
  width: 200px;
  text-align: center;
  color: #777777;
  font-size: 10px;
  padding: 10px 0 0 0;
  position: relative;
  left: 345px;
}

#status-bar {
  position: relative;
  width: 90px;
  left: 52px;
  padding: 2px;
  height: 1px;
  border-bottom: medium solid #58ACFA;
}

#count {
  line-height: 1;
  color: #58ACFA;
  font-size: 17px;
  font-weight: bold; 
}

#footer {
  clear: both;
}

/* 検索 ================================ */

#keyword-btn{
  position: relative;
  top: 13px;
  left: 65%;
  height: 25px;
  padding: 6px 10px;
  margin: 0px auto;
  color: #7fbfff;
  background:#E0ECF8;
  border-radius:50px;
  border:solid 3px #eaeaea;
}

#keyword-btn input[type="text"] {
  width: 15%;
  background-color: transparent; /*背景色を透明にする*/
  border:none;
  outline:0;
}

button[type="submit"]{
 margin: 0px auto;
 position: absolute;
 height: 30px;
 padding: 0 10px;
 top: 17px;
 left: 79%;
 background:none;
 color:#666;
 border:none;
 font-size:20px;
 background: url(/search.png) no-repeat;
 outline:0;
 cursor: pointer;
}

/* ツイートボタン ================================ */

#square_btn{
  position: absolute;
  top: 6px;
  left: 88%;
  width: 92px;
  height: 35px;
  padding: 7px 18px;
  font-weight: bold; 
  font-size: 12px;
  color: white;
  border-radius: 28px;
  text-decoration: none;
  background: #00bfff;
  transition: .1s ease-out;
  
}

#square_btn label:hover {
  cursor: pointer;
}

#square_btn:hover {
  background: #1e90ff;
  cursor: pointer;
}

/* ツイッターアイコン ========================== */

input[type="button"]{
  position: absolute;
  top: 3px;
  height: 40px;
  left: 48%;
  width: 50px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: 65%;
  background-image: url("/Twitter.png");
  cursor: pointer;
  border:0; /*ボタン周りの枠線を消す*/
  outline:none; /*ボタン押した時に表示される枠線を消す*/
}

/* ヘッダー画像 ================================ */

#about_img {
  width: 100%;
  min-width: 1200px;
  height: 326px;
  background-color: #3ecdc6;
  background-repeat: no-repeat;
  background-position: center 60%;
  background-size: cover;
  background-image: url("/kinki_hedder.jpg");
}

/* プロフィール画像 =============================== */

.circle{
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 30px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: white;
  text-align: center;
  line-height: 80px;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 0 0 5%;
}

.img-round{
  padding: 5px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.imgpop-round{
  position: relative;
  width: 420px;
  height: 420px;
  top: 100px;
  border-radius: 50%;
}

.imgpop {
  background-color: rgba(0, 0, 0, .8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 9999;
}

#imgpop-on{
  display: none;
}

#imgpop-on:checked + .imgpop{
  display: block;
}

/* 閉じるアイコン（右上） */
.icon-close{
  color: #fff;
  font-size: 30px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.imgpop-content{
  text-align:center;
}

/* =============================================== */

#wrap{
  display: flex;
}

/* サイドバー ===================================== */

#sidebar{
  float: left;
  width: 280px;
  min-width: 280px;
  margin: 40px 10px 40px 7%;
  padding: 0 10px 0 10px;
}

#title a{
  text-decoration: none;
  color: #424242;
  font-size: 20px;
  font-weight: bold; 
}

#title a:hover {
  text-decoration: underline;
}

.tuser {
  font-size: 10px;
  color: #777777;
}

.tuser a {
  color: #777777;
  text-decoration: none;
}

.tuser a:hover {
  text-decoration: underline;
}

.link a{
  text-decoration: none;
  color: #58ACFA;
}

.link a:hover {
  text-decoration: underline;
}

.iro{
  color: #777777; /* グレー */
}

/* ツイートボタン(サイド) ================================ */

#s_btn{
  position: relative;
  text-align: center;
  top: 15px;
  width: 125px;
  height: 35px;
  padding: 7px 18px;
  font-weight: bold; 
  font-size: 12px;
  color: white;
  border-radius: 28px;
  text-decoration: none;
  background: #00bfff;
  transition: .1s ease-out;
}

#s_btn:hover {
  background: #1e90ff;
  cursor: pointer;
}

/* ツイート一覧 ================================ */

#content {
  float: right;
  width: 600px;
  min-width: 600px;
  margin: 20px 10px 50px 10px;
}

.c {
  margin: 1px auto;
  font-size: 17px;
  padding: 12px 17px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  text-decoration: none; 
  color: #424242;
  font-weight: bold; 
}

.c a:hover {
  text-decoration: underline;
}

.font_c a {
  text-decoration: none; 
  color: #58ACFA;
  font-weight: bold; 
}

.posts-index-item {
  margin: 0px auto;
  font-size: 15px;
  padding: 30px 30px 30px 80px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.posts-index-item:hover  {
  background-color: #EaEfFf;
}

.user a{
  color: #424242;
  text-decoration: none; 
}

.user a:hover {
  color: #58ACFA;
  text-decoration: underline;
}

.tweet a {
  float: left;
  text-decoration: none;
}


/* ツイート表示 ================================ */

.show  {
  font-size: 15px;
  left: 10px;
}

.show a {
  font-size: 15px;
  color: #424242;
}

.edit{
  float: right;
  cursor: pointer;
}

/* 日付表示 ================================ */

.post-time a {
  font-size: 10px;
  color: #8899a6;
  margin-bottom: 10px;
  text-decoration: none;
}

.post-time a:hover {
  color: #58ACFA;
  text-decoration: underline;
}

/* 編集（表示） ================================ */

.posts-edit-item {
  min-width: 600px;
  font-size: 10px;
  padding: 20px 90px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

/* フッダー ================================ */

#footer{
  color: #8899a6;
  line-height: 3;
  border-top: solid 1px #cccccc;
  text-align: center;
  clear: both; /* floatプロパティで指定された要素に対する回り込みを解除 */
}

.f_link a{
  color: #8899a6;
  text-decoration: none; 
}

.f_link a:hover {
  color: #58ACFA;
  text-decoration: underline;
}

/* ツイート投稿欄 ================================ */

.popup {
  margin: 40px auto;
  background: #E0F2F7;
  border-radius: 7px;
  transition: all 5s ease-in-out;
  background-color: #E0ECF8;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, .8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 600px;
  height: 200px;
  z-index: 9999;
}

.t {
  text-align: center;
  top: -100px;
  width: 600px;
  font-size: 20px;
  background: white;
  padding: 10px;
  color: #424242F;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 600; 
  z-index: 0;
}

.close {
  position: absolute;
  top: 5px;
  right: 20px;
  transition: all 200ms;
  font-size: 28px;
  text-decoration: none;
  color: #6E6E6E;
}

.popup .close:hover {
  color: #06D85F;
}

textarea {
  position: relative;
  width: 88%;
  left: 10%;
  height: 6.5em;
  padding: 0.5em 1em;
  color: #6091d3;
  background: #FFF;
  border: solid 2px #A9E2F3;
  border-radius: 10px;
  outline: 0;
}

.name{
  position: absolute;
  height: 25px;
  top: 155px;
  left: 10%;
  width: 150px;
  color: #7fbfff;
  background: white;
  border-radius: 10px;
  border: solid 2px #A9E2F3;
}

.name input[type="text"] {
  text-align: center;
  width: 145px;
  background-color:transparent; /*背景色を透明にする*/
  border: none;
  outline: 0;
}


#submit_button {
  position: relative;
  float: right;
  top: 23px;
  width: 92px;
  height: 33px;
  margin: -25px 15px;
  line-height: 30px;
  padding: 0px 18px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold; 
  font-size: 13px;
  color: white;
  background: #00bfff;
  transition: .1s ease-out;
  border-style: none;
  outline: 0;
}

#submit_button:hover {
    background: #1e90ff;
}

/* 画像アップロードボタン ================================ */

.file-btn {
    position: relative;
    top: 28px;
    right: 50%;
    color: #7fbfff;
    font-size: 25px;
    cursor: pointer;
}

.file-btn input {
    display: none;
}

.file-btn:hover{
    color:#3498DB;
    outline:0;
}

/* 削除ボタン ================================ */

.delete-btn {
    position: absolute;
    bottom: 17px;
    left: 270px;
    color: #7fbfff;
    font-size: 25px;
    cursor: pointer;
}

.delete-btn:hover{
    color:#3498DB;
    outline: 0;
}

/* チェックボックスの初期設定 */
#popup-on{
  display: none;
}

#popup-on2{
  display: none;
}

/* チェックされたらポップアップウインドウを開く */
#popup-on:checked + .popup{
  display: block;
}
#popup-on2:checked + .popup{
  display: block;
}