<html>
  <body>
    <%= render "header" %>
    <div id="wrap">
      <div id="sidebar">
        <%= render "sidebar" %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <%= render "footer" %>
    </div>
  </body>
</html>
